export WORMHOLE_ENV=mainnet
export WORMHOLE_LISTEN_PORT=8999
export NATS_URL=127.0.0.1:4222
export NATS_STREAM=mainnet-vaas
export SERVER_URL=127.0.0.1:7072
export LOG_LEVEL=info
export WRITER_BATCH_SIZE="1000"

