export WORMHOLE_NETWORK_ID=/wormhole/mainnet/2
export WORMHOLE_BOOTSTRAP=/dns4/t-guardian-01.nodes.stable.io/udp/8999/quic/p2p/12D3KooWCW3LGUtkCVkHZmVSZHzL3C4WRKWfqAiJPz1NR7dT9Bxh,/dns4/t-guardian-02.nodes.stable.io/udp/8999/quic/p2p/12D3KooWJXA6goBCiWM8ucjzc4jVUBSqL9Rri6UpjHbkMPErz5zK
export WORMHOLE_LISTEN_PORT=8999
export NATS_URL=127.0.0.1:4222
export NATS_STREAM=mainnet-vaas
export SERVER_URL=127.0.0.1:7072
export LOG_LEVEL=info
export WRITER_BATCH_SIZE="1000"

